@import "./_variables.scss";

a {
    color: blue;
    cursor: pointer;
}

h1 {
    padding-top: 20px;
    letter-spacing: -3px;
    color: #1267b3;
}

html,
body {
    margin: 0;
    height: 100%; /* can also use viewport units (height: 100vh) */
}

#container {
    display: flex; /* displays flex-items (children) inline */
    flex-direction: column; /* stacks them vertically */
    height: 100%; /* needs to take the parents height, alternative: body {display: flex} */
}

main {
    flex: 1; /* takes the remaining height of the "container" div */
    overflow: auto; /* to scroll just the "main" div */
    padding-left:$app-padding-left ;
    padding-right:$app-padding-right ;
}

header {
    //background: #f88;
}

section {
    height: 100%; /* takes the visible area of the "main" div */
    overflow: auto; /* recommended */
}

section:last-child {
    border: none;
}
footer {
    background: lightblue;
    height: $footer-height;
}

.mnu-app__container {
    padding: 10px;
    width: 100%;
    height: 100%;
}

.mnu-app__page-description{
    color: darkgreen;
    margin-top: -10px;
    margin-bottom: 18px;
    font-size: 0.8rem;
}

.mnu-app__button {
    border: 1px solid gray;
}

.mnu-app__tile-container {
    padding: 10px;
    border: 1px solid #f3f3f3;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 8%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 5px;
    height: 99%;
}

.mnu-app__tile-title {
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    font-family: var(--bs-body-font-family);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    user-select: text;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
    letter-spacing: -1.4px;
}
.mnu-app__tile-progress {
    height: 0.2rem;
}


// TODO Manage Bootstrap customizations better
.btn-primary {
    color: #1267b3;
    background-color: white;
    border-color: #1267b3;
}