<div class="mnu-app__container dashboard__container">
    <div class="dashboard__header">
        <div class="dashboard__header-nav">
            <h1>Hi, John!</h1>
            <div class="mnu-app__page-description">
                This section allows you to manage locations, menus, tables
            </div>
        </div>
        <div class="dashboard__header-location-selector">Loc selctor</div>
    </div>
    <div class="dashboard__contents">
        <gridster [options]="options" style="height: 60vh">
            <gridster-item [item]="item" *ngFor="let item of dashboard">
                <app-tables-tile
                    *ngIf="item.component === 'tables-tile'"
                ></app-tables-tile>
                <app-menus-tile
                    *ngIf="item.component === 'menus-tile'"
                ></app-menus-tile>
                <app-servers-tile
                    *ngIf="item.component === 'servers-tile'"
                ></app-servers-tile>
                <app-overview-tile
                    *ngIf="item.component === 'overview-tile'"
                ></app-overview-tile>
                <app-live-stream-tile
                    *ngIf="item.component === 'live-stream-tile'"
                ></app-live-stream-tile>
                <app-chart-tile
                    *ngIf="item.component === 'chart-tile'"
                ></app-chart-tile>
            </gridster-item>
        </gridster>
    </div>
</div>
