.dashboard__container {
    display: flex;
    flex-direction: column;
}

.dashboard__header {
    //border-bottom: 3px solid #858585;
}
.dashboard__contents {
    margin-top: 13px;
    flex:2;
}
.dashboard__sections {
    padding-top: 10px;
}

:host gridster {
    //background: white;
    width: 101%;
}
