<section>
    <div class="mnu-app__container">
        <app-page-title></app-page-title>

        <div class="form-check">
            <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="simulateServersActivityCheckbox"
                [formControl]="simulateServersActivityCheckbox"
            />
            <label class="form-check-label" for="simulateServersActivityCheckbox">
                Simulate servers activity
            </label>
        </div>
        <div class="form-check">
            <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="simulateCustomersActivityCheckbox"
                [formControl]="simulateCustomersActivityCheckbox"
            />
            <label class="form-check-label" for="simulateCustomersActivityCheckbox">
                Simulate customers activity
            </label>
        </div>

        <button (click)="startDemo()">Start demo</button>
    </div>
</section>
