.navbar__user-dropdown {
    display: flex;
    width: 150px;
}

.navbar__user-photo {
    margin-top: 2px;
    float: left;
    width: 32px;
}

.navbar__user-details {
    
}

.navbar__user-name {
    font-size: 14px;
    text-align: left;
    padding-left: 40px;
}

.navbar__user-roles {
    text-align: left;
    padding-left: 40px;
    font-size: 12px;
    padding-top: 0;
    margin-top: -3px;
}

.navbar__button {
    margin-top: 3px;
    margin-left: 14px;
    background-color: white;
    border: 2px solid #858585;
    font-size: 0.9rem;
    padding: 5px;
    width: 90px;
}

a:hover {
    cursor: pointer;
}
