<div class="mnu-app__container row">
    <div class="col">
        <h1>Hi, John!</h1>
        <div class="mnu-app__page-description">
            This section allows you to manage locations, menus, tables
        </div>

        <div class="card">
            <div class="card-body">
                <p class="card-text">
                    You are currently viewing data for the Varice location.
                </p>
                <a href="#" class="btn btn-primary">Manage locations...</a
                >&nbsp;<a href="#" class="btn btn-primary">Add location...</a>
            </div>
        </div>

        <div class="card-group managers-main__sections">
            <div class="card" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title">Tables</h5>
                    <p class="card-text">
                        Add or edit tables in your restaurant, view and print QR
                        codes.
                    </p>
                    <a routerLink="/managers/tables" class="btn btn-primary"
                        >Go to Tables</a
                    >
                </div>
            </div>

            <div class="card" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title">Menus</h5>
                    <p class="card-text">Manage menus.</p>
                    <a routerLink="/managers/menus" class="btn btn-primary"
                        >Go to Menus</a
                    >
                </div>
            </div>

            <div class="card" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title">Servers</h5>
                    <p class="card-text">Manage servers.</p>
                    <a routerLink="/managers/servers" class="btn btn-primary"
                        >Go to Servers</a
                    >
                </div>
            </div>

            <div class="card" style="width: 18rem">
                <div class="card-body">
                    <h5 class="card-title">Stats</h5>
                    <p class="card-text">Manage stats.</p>
                    <a routerLink="/managers/stats" class="btn btn-primary"
                        >Go to Stats</a
                    >
                </div>
            </div>
        </div>
        <app-locations></app-locations>
    </div>
    <div class="col managers-main__side-bar">
        <app-overview></app-overview>
        <app-live-stream></app-live-stream>
    </div>    
</div>
